{
  "root": true,
  "extends": "@upstatement/eslint-config/react",
  "settings": {
    "react": {
      "version": "detect", // React version. "detect" automatically picks the version you have installed.

    }
}
}